  • Rating Component   

1 - Create a rating widget with 5 stars.
2 - The stars should initially appear grey and in a horizontal row.
3 - When a user hovers over a star, that star and any previous stars should light up.
4 - When a user clicks on a star, their rating should be saved, and, when hovering away, the rated stars should remain lit.
5 - It is not required to use an actual 'star' image or icon, just something to represent the state